<nav>
  <a href="#leftPanel">Left Panel</a>
  <a href="#centerPanel">Center Panel</a>
  <a href="#rightPanel">Right Panel</a>
</nav>

<div class="panel-wrapper" *ngIf="gameState">
  <div [ngClass]="{centered: isCentered}" class="panel">
    <div *ngIf="gameState.secondGame === true" id="leftPanel">
      <h2>Left Panel</h2>
      <!--Build second game chamber here-->
      <!--<swarm-chamber [gameState="gameState"></swarm-chamber>-->
    </div>
    <div id="centerPanel">
      <!--Move back to gas chamber component once sharing is figured out-->
      <!--<gas-chamber [gameState="gameState"></swarm-chamber>-->

      <div><label>Gas Level</label> {{gameState.gasLevel.toFixed(3)}}%</div>

      <div><label>Gas Level Increasing By</label> {{gameState.increasedBy.toFixed(3)}}% per second</div>

      <button (click)="ventGas()">Vent Gas</button> {{gameState.ventAmount.toFixed(2)}}%
      <p>{{gameState.resources}}</p>
      <div class="upgradeArray">
        <div class="cleaners">
        </div>
        <div class="upgrades">
          <button (click)="increaseFilter()">Increase Filter Power</button> {{gameState.filterCost}}
          <p>Filter Level: {{gameState.filtersOwned}}</p>
          <button (click)="increaseAuto()">Add Auto Filter</button> {{gameState.autoCost}}
          <p>Auto Filters Owned: {{gameState.autoOwned}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="gameState.thirdGame" id="rightPanel">
      <h2>Right Panel</h2>
      <!--<battle-chamber [gameState="gameState"></battle-chamber>-->
    </div>
  </div>
</div>
<div id="bottomBar"></div>
