<header class="header">
  <div class="screw screw1">
    <div class="groove"></div>
  </div>

  <div class="nameplate embossed raised engraved-text">
    <div class="leftScrews">
      <div class="smallScrew screw1">
        <div class="smallGroove"></div>
      </div>

      <div class="smallScrew screw2">
        <div class="smallGroove"></div>
      </div>
    </div>
    <h1>
      {{title}}
    </h1>
    <div class="rightScrews">
      <div class="smallScrew screw3">
        <div class="smallGroove"></div>
      </div>

      <div class="smallScrew screw4">
        <div class="smallGroove"></div>
      </div>
    </div>
  </div>

  <div class="screw screw2">
    <div class="groove"></div>
  </div>

</header>
<div class="topScrews"></div>
<game-area></game-area>
<div class="bottomScrews">
  <div class="screw screw3">
    <div class="groove"></div>
  </div>

  <div class="screw screw4">
    <div class="groove"></div>
  </div>
</div>
